# Ignore Visual Studio specific folders
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build output folders
bin/
obj/

# Ignore platform and configuration-specific folders
x64/
x86/
Debug/
Release/

# Ignore other temporary files
*.log
*.tlog
*.lastbuildstate